{% extends 'base.html' %}

{% block title %}
Growsmo | Privacy Policy
{% endblock title %}


{% block main_content %}
<div class="container my-5">
    <h3 class="my-5">Privacy Policy</h3>
    <p style="text-align: justify;">
        Our company highly values your privacy. We follow a policy of confidentiality to tell you how we collect and use
        information about you and what we do to keep this information confidential.<br><br>
        In Growsmo.com we do not share confidential information that you have provided to us. Also, We never share this 
        information with third parties, including your orders.
        Growsmo.com never ask the id - Password of your any respected social media account.<br><br>
        We don’t communicate and contact the owners of services.
        We do not disclose information about your resale - all info remains with us.<br>
        Growsmo.com will protect your data for safety and the prevention of fraud, theft or loss. Also, We guarantee the security of your data from copying or modification by third parties.
        <br><br><br>
        Change of Terms:-
        <br><br>
        This Terms of Service / Privacy Policy can change at any time, Sometimes it does that and we are fully entitled to.
    </p>
</div>
{% endblock main_content %}