{% extends 'base.html' %}

{% block title %}
Growsmo | Refund Policy
{% endblock title %}


{% block main_content %}
<div class="container my-5">
    <h3 class="my-5">Refund Policy</h3>
    <p style="text-align: justify;">
        No refunds will be made to your payment method. After a deposit has been completed, there is no way to reverse it.
        You must use your balance on orders from Growsmo.com Contact us through help section for a refund.<br><br>
        You agree that once you complete payment, You will not file a dispute or a chargeback against us for any unnecessary reason.
        If you submit a dispute or chargeback against us after a deposit for no valid reasons, We reserve the right to terminate all
         future orders, Restrict you from our site. We also reserve the right to take away any service we delivered to you 
         or your clients Instagram/Facebook/Twitter or other social media account.<br><br>
        Order can only be refunded if its not started after 24 hours, Running orders can only be partial cancel after reviewing,
         You will receive a refund to your Growsmo account if the order is not deliverable or Partial complete
        Fraudulent activity such as using unauthorized or stolen credit cards will lead to termination of your account. There are no exceptions.<br><br>
        We keep the Complete transparency with our client through our Every service title and description box , Kindly read your 
        desired service description box for smooth experience with us,
        Our most of the service start instantly expect few services that take 24-48 hrs to deliver.<br><br>
        If you do not receive your service in time, please contact support to fix the issue. We are online 24 * 7 to provide you 
        the best support And resolve Your every issue you are faceing while using Growsmo.com
    </p>
</div>
{% endblock main_content %}