{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block meta_extend %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="author" content="" />
	<meta name="theme-color" content="#ffcc33">
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    {% endblock meta_extend %}

    <title>{% block title %}Growsmo{% endblock title %}</title>
    {% block static_files %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock static_files %}
</head>

<body>
	{% block header_content %}
	{% include 'navbar.html' %}
	{% endblock header_content %}
	
{% include 'modals.html' %}
{% block main_content %}

{% endblock main_content %}

{% block footer_content %}
<footer>
	<div class="container mb-0">
		<div class="row pt-3 pb-3">
			<div class="col-sm-12 col-md-4 col-lg-4 text-start">
				<ul><h5 class="mb-3 ftr_heading py-3">Quick Links</h5>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="/">Home</a></li>
					{% if user.is_authenticated %}
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="{% url 'user_detail'%}">Profile</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="{% url 'user_logout'%}">Logout</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="{% url 'contact_us'%}">My Queries</a></li>
					{% else %}
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#signupmodal">Signup</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#loginmodal">Login</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4 text-start">
				<ul><h5 class="mb-3 ftr_heading py-3">Recommendation</h5>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="{% url 'category_detail' 'instagram'  %}">Instagram</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="{% url 'category_detail' 'facebook'  %}">Facebook</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="{% url 'category_detail' 'telegram'  %}">Telegram</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="{% url 'category_detail' 'youtube'  %}">Youtube</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="{% url 'category_detail' 'twitter'  %}">Twitter</a></li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4 text-start">
				<ul><h5 class="mb-3 ftr_heading py-3">Policies</h5>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="/terms-and-conditions/">Terms and condition</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="/privacy-policy/">Privacy Policy</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="/refund-policy/">Refund Policy</a></li>
					<li class='ftr_list_item my-1'><a class="ftr_list_link" href="/contactus/">Help 24x7</a></li>
				</ul>
			</div>
		</div>
	</div>
	<p class="mb-0 py-2 bg-black">Copyright © GrowSmo 2023</p>
</footer>
{% endblock footer_content%}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
function refresh_product_list(cat='', sub_cat=''){
	var csrf_token = '{{csrf_token}}';
	$.ajax({
		type: 'POST',
		url: `/services/${cat}/`,
		data: { sel_sub_cat: sub_cat },
		beforeSend: function(xhr) {
			xhr.setRequestHeader('X-CSRFToken', csrf_token);
		},
		success: function(data) {
			document.getElementById("product_list").innerHTML = data
		}
	});
}


</script>
</body>
</html>