{% extends 'base.html' %}

{% block main_content %}
<style>
.product_list_item:hover{
    cursor: pointer;
}
</style>


{% block banner %}

<div class="row container-lg mx-auto my-3 pb-4  border-bottom">
  <div class="col-sm-8 p-0">
    <div class="card border-0">
      <div class="card-body px-0">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 p-0 d-none d-md-block">
    <div class="card border-0">
      <div class="card-body px-0">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{% endblock banner %}

<div class="card text-center border-0">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>


<div class="container-lg mt-3">
    <div class="row">
      <div class="col-md-3">
        <!-- Left Menu 1 -->
        <div class="bg-light" style="border-right: 1px solid #ede3e3">
            <h6 class="mb-3">Available Catrgories</h6>
            <button class="btn btn-outline m-1" style="border: 1px solid #ede3e3;">Testing 133 esting 133esting 133</button>
            <button class="btn btn-outline m-1" style="border: 1px solid #ede3e3;">Testing 133</button>
            <button class="btn btn-outline m-1" style="border: 1px solid #ede3e3;">Testing 133</button>
            <button class="btn btn-outline m-1" style="border: 1px solid #ede3e3;">Testing 133</button>
            <button class="btn btn-outline m-1" style="border: 1px solid #ede3e3;">Testing 133</button>
            <button class="btn btn-outline m-1" style="border: 1px solid #ede3e3;">Testing 133</button>
        </div>
      </div>

        <div class="col-md-9">
            <h6 class="mb-3">Provided Services</h6>
            <div class="row justify-content-between">
                <div class="card col-lg-3 p-0 mb-5 mx-1 product_list_item border-0 text-center" style="width: 18rem">
                    <img width="100px" src="https://cdn.cp.adobe.io/content/2/rendition/2e009293-611c-49ae-abaa-fab4e152bb33/artwork/47e419a1-3a08-4b38-b76a-6ae7fdd979d9/version/0/format/jpg/dimension/width/size/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-4">Title Here<br><span class="fs-5">Rs.400 <del>Rs.500</del><br>8734 Reviews</span></p>
                    </div>
                </div>
                <div class="card col-lg-3 p-0 mb-5 mx-1 product_list_item border-0 text-center" style="width: 18rem">
                    <img width="100px" src="https://cdn.cp.adobe.io/content/2/rendition/2e009293-611c-49ae-abaa-fab4e152bb33/artwork/47e419a1-3a08-4b38-b76a-6ae7fdd979d9/version/0/format/jpg/dimension/width/size/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-4">Title Here<br><span class="fs-5">Rs.400 <del>Rs.500</del><br>8734 Reviews</span></p>
                    </div>
                </div>
                <div class="card col-lg-3 p-0 mb-5 mx-1 product_list_item border-0 text-center" style="width: 18rem">
                    <img width="100px" src="https://cdn.cp.adobe.io/content/2/rendition/2e009293-611c-49ae-abaa-fab4e152bb33/artwork/47e419a1-3a08-4b38-b76a-6ae7fdd979d9/version/0/format/jpg/dimension/width/size/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-4">Title Here<br><span class="fs-5">Rs.400 <del>Rs.500</del><br>8734 Reviews</span></p>
                    </div>
                </div>
                <div class="card col-lg-3 p-0 mb-5 mx-1 product_list_item border-0 text-center" style="width: 18rem">
                    <img width="100px" src="https://cdn.cp.adobe.io/content/2/rendition/2e009293-611c-49ae-abaa-fab4e152bb33/artwork/47e419a1-3a08-4b38-b76a-6ae7fdd979d9/version/0/format/jpg/dimension/width/size/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-4">Title Here<br><span class="fs-5">Rs.400 <del>Rs.500</del><br>8734 Reviews</span></p>
                    </div>
                </div>
                <div class="card col-lg-3 p-0 mb-5 mx-1 product_list_item border-0 text-center" style="width: 18rem">
                    <img width="100px" src="https://cdn.cp.adobe.io/content/2/rendition/2e009293-611c-49ae-abaa-fab4e152bb33/artwork/47e419a1-3a08-4b38-b76a-6ae7fdd979d9/version/0/format/jpg/dimension/width/size/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-4">Title Here<br><span class="fs-5">Rs.400 <del>Rs.500</del><br>8734 Reviews</span></p>
                    </div>
                </div>
                <div class="card col-lg-3 p-0 mb-5 mx-1 product_list_item border-0 text-center" style="width: 18rem">
                    <img width="100px" src="https://cdn.cp.adobe.io/content/2/rendition/2e009293-611c-49ae-abaa-fab4e152bb33/artwork/47e419a1-3a08-4b38-b76a-6ae7fdd979d9/version/0/format/jpg/dimension/width/size/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-4">Title Here<br><span class="fs-5">Rs.400 <del>Rs.500</del><br>8734 Reviews</span></p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
  </div>




{% endblock main_content %}