{% load static %}

<!-- Signup Modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="signupmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="signup_form" method="POST">
        {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="loginmodalLabel">Always Welcome !!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container text-center" id="user_icon">
        <h4 class="py-3 mt-3">Signup</h4>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">First name*</span>
          <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="basic-addon3" placeholder="Ex. John" required>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Last name*</span>
          <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="basic-addon3" placeholder="Ex. Smith" required>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Email*</span>
          <input type="text" class="form-control" name="email" id="email" aria-describedby="basic-addon3" required>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Phone*</span>
          <input type="text" class="form-control" name="phone" id="phone" aria-describedby="basic-addon3" required>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Create password*&nbsp;&nbsp;</span>
          <input type="password" class="form-control" name="password1" id="password1" aria-describedby="basic-addon3" required>
          <span class="input-group-text" id="password1_btn" style="cursor: pointer;" onclick="show_hide_password('password1')">
            <img src={% static 'icons/eye-fill.svg' %}>
          </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Confirm password*</span>
          <input type="password" class="form-control" name="password2" id="password2" aria-describedby="basic-addon3" required>
        </div>
        <span class="error-message" id="invalid_password" style="display:none; font-size:14px; color:red;"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success" id="signupbutton">Signup</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="login_form" method="POST">
        {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="loginmodalLabel">Welcome Back !!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="alert alert-danger text-center m-2 p-2" id="error_message" role="alert" style="display:none; font-size:14px;"></div>

      <div class="container text-center" id="user_icon">
        <h4 class="pt-3 mt-3">Login</h4>
      </div>

      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Email or Phone</span>
          <input type="text" class="form-control" name="username" id="username" aria-describedby="basic-addon3" required>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Password</span>
          <input type="password" class="form-control" name="password" id="password" aria-describedby="basic-addon3" required>
          <span class="input-group-text" id="password_btn" style="cursor: pointer;" onclick="show_hide_password('password')">
            <img src={% static 'icons/eye-fill.svg' %}>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="loginbutton" class="btn btn-success">Login</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function show_hide_password(element_id){
    var element = document.getElementById(`${element_id}`);
    var ele_btn = document.getElementById(`${element_id}_btn`);
    if (element.type === "password") {
      element.type = "text";
      ele_btn.innerHTML = "<img src={% static 'icons/eye-slash-fill.svg' %}>"
    } else { 
      element.type = "password"; 
      ele_btn.innerHTML = "<img src={% static 'icons/eye-fill.svg' %}>"
      
    }
  }

  $(document).ready(function() {
    $('#signup_form').on('submit', function(event) {
      event.preventDefault();
      if ($('#password1').val().length <= 8) {
        $('#invalid_password').text("Password should be greater than 8 characters");
        $('#invalid_password').css('display', 'block');
        event.preventDefault();
      } else if ($('#password2').val() !== $('#password1').val()) {
        $('#invalid_password').text("Passwords don't match");
        $('#invalid_password').css('display', 'block');
        event.preventDefault();
      } else {
        var csrf_token = '{{csrf_token}}';
        $.ajax({
          type: 'POST',
          url: '{% url "user_signup" %}',
          data: {
            first_name: $('#first_name').val(),
            last_name: $('#last_name').val(),
            email: $('#email').val(),
            phone: $('#phone').val(),
            password: $('#password1').val(),
          },
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRFToken', csrf_token);
          },
          success: function(data) {
            console.log(data)
            if (data.type == 'error'){
              $('#invalid_password').text(data.message);
              $('#invalid_password').css('display', 'block');
            } else if (data.type == 'success') {
              window.location.href = '/';
            } else {
              $('#error_message').text('Invalid Request Please try again later');
              $('#error_message').css('display', 'block');
            }
          }
        });
      }
    });

    $('#password1').on('keydown', function() {$('#invalid_password').css('display', 'none');});
    $('#password2').on('keyup', function() {$('#invalid_password').css('display', 'none');});
  });

  $(document).ready(function() {
    $('form :input').on('input', function() {
      $('#error_message').text('');
      $('#error_message').css('display', 'none');
    });
  });

  $(document).ready(function() {
    $('#loginbutton').click(function() {
      var csrf_token = '{{csrf_token}}';
      $.ajax({
          type: 'POST',
          url: '{% url "user_login" %}',
          data: {
            username: $('#username').val(),
            password: $('#password').val()
          },
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRFToken', csrf_token);
          },
          success: function(data) {
            if ('status' in data & data.status == 'success') {
              window.location.href = '/';
            } else {
              $('#error_message').text('Invalid login credentials');
              $('#error_message').css('display', 'block');
            }
          }
      });
    });
  });
</script>