{% block first_navbar %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ede3e3;">
  <div class="container">
    <button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <img src="https://prod-instaastro-static-files.s3.amazonaws.com/static/img/hamburger.svg">
    </button>
    <a class="navbar-brand mx-auto" href="/">Growsmo</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item me-2"><a class="nav-link" href="{% url 'user_detail'%}">{% if user.first_name%} {{user.first_name}} {% else %} Profile {% endif %}</a></li>
        <li class="nav-item me-2"><a class="nav-link" href="{% url 'user_logout'%}">Logout</a></li>
        {% else %}
         <li class="nav-item me-2"><a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#signupmodal">Signup</a></li>
          <li class="nav-item me-2"><a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#loginmodal">Login</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'contact_us'%}">Help</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock first_navbar %}

{% block second_navbar %}
<div class="navbar navbar-expand-lg navbar-light" id="category_list">
  <ul class="container dflex mb-0">
    <li class="category_list_item"><a class="category_item_link" href="/services">Recommended</a></li>
    {% for category in category_list %}
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="{% url 'category_detail' category.slug  %}">{{category.title}}</a></li>
    {% endfor %}
    <!-- if category list > 10 then -->
    <li class="nav-item dropdown category_list_item ms-3">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        More Categories
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for category in category_list %}
        <li><a class="category_item_link dropdown-item" href="{% url 'category_detail' category.slug  %}">{{category.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <!-- endif -->
  </ul>
</div>
{% endblock second_navbar %}