
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ede3e3;">
  <div class="container">
    <button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <img src="https://prod-instaastro-static-files.s3.amazonaws.com/static/img/hamburger.svg">
    </button>
    <a class="navbar-brand mx-auto" href="#">Logo Here</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-2"><a class="nav-link" href="#">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="navbar navbar-expand-lg navbar-light" id="category_list">
  <ul class="container dflex mb-0">
    <li class="category_list_item"><a class="category_item_link" href="#">Recommended</a></li>
    <!-- for loop here for category list -->
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
      <li class="category_list_item dnone-mobile mx-2"><a class="category_item_link" href="#">Category</a></li>
    
    <!-- For loop end here for category list -->
    <li class="nav-item dropdown category_list_item ms-3">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="category_item_link dropdown-item" href="#">Action</a></li>
        <li><a class="category_item_link dropdown-item" href="#">Another action</a></li>
      </ul>
    </li>
  </ul>
</div>